{% if page.tags %}
  <span class="label">Tags:</span>
  {% for tag in page.tags %}
    <a href="{{ '/tags/' | append: tag | uri_escape | append: '/' | relative_url }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
  {% endfor %}
{% endif %}

{% if page.categories %}
  <span class="label">Categories:</span>
  {% for category in page.categories %}
    <a href="{{ '/categories/' | append: category | uri_escape | append: '/' | relative_url }}">{{ category }}</a>{% unless forloop.last %}, {% endunless %}
  {% endfor %}
{% endif %}
