{% if page.tags %}
  <div class="page__taxonomy">
    <strong>Tags:</strong>
    {% for tag in page.tags %}
      <a href="{{ '/tags/' | append: tag | uri_escape | append: '/' | relative_url }}" class="page__taxonomy-item">{{ tag }}</a>
    {% endfor %}
  </div>
{% endif %}

{% if page.categories %}
  <div class="page__taxonomy">
    <strong>Categories:</strong>
    {% for category in page.categories %}
      <a href="{{ '/categories/' | append: category | uri_escape | append: '/' | relative_url }}" class="page__taxonomy-item">{{ category }}</a>
    {% endfor %}
  </div>
{% endif %}
