{% if page.categories %}
  <span class="label"><i class="fas fa-folder"></i> Categories:</span>
  {% for category in page.categories %}
    <a href="/categories/{{ category | uri_escape }}/" class="category">{{ category }}</a>{% unless forloop.last %}, {% endunless %}
  {% endfor %}
  <br>
{% endif %}

{% if page.tags %}
  <span class="label"><i class="fas fa-tag"></i> Tags:</span>
  {% for tag in page.tags %}
    <a href="/tags/{{ tag | uri_escape }}/" class="tag">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
  {% endfor %}
  <br>
{% endif %}
