.page {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 2rem;
}

.sidebar {
  max-width: 240px;
}

.page__inner, .page__content, .page__meta, .page__share, .page__comments, .page__footer {
  max-width: 960px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .sidebar {
    flex: 0 0 240px;
  }
}