.page {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2rem;
}

.page__inner, .page__content {
  max-width: 100%;
}

.sidebar {
  max-width: 260px;
}

.page__meta, .page__share, .page__comments, .page__footer {
  max-width: 1100px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .sidebar {
    flex: 0 0 260px;
  }
}