---
layout: default
---

<div class="page__content">
  {% if site.tags[page.tag] %}
    <h1><i class="fas fa-tag"></i> {{ page.tag }} <small>({{ site.tags[page.tag] | size }})</small></h1>

    <ul class="post-list">
      {% assign posts = site.tags[page.tag] | sort: 'date' | reverse %}
      {% for post in posts %}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          <small class="post-date">{{ post.date | date: "%b %-d, %Y" }}</small>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <h1><i class="fas fa-tag"></i> {{ page.tag }}</h1>
    <p>이 태그에 해당하는 글이 없습니다.</p>
  {% endif %}
</div>
