---
layout: default
---

{% assign tag_name = page.url | split: "/" | last | uri_escape | uri_decode %}

<div class="page__content">
  <h1><i class="fas fa-tag"></i> {{ tag_name }}</h1>

  {% assign posts = site.tags[tag_name] %}
  {% if posts %}
    <ul class="post-list">
      {% assign sorted_posts = posts | sort: 'date' | reverse %}
      {% for post in sorted_posts %}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          <small class="post-date">{{ post.date | date: "%b %-d, %Y" }}</small>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>해당 태그에 대한 게시물이 없습니다.</p>
  {% endif %}
</div>
